.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .loading {
    color: blue;
  }
  
  .error {
    color: red;
  }
  
  .data {
    color: black;
  }
  